<div class="category">
    <div class="menu-c">
        <h3>Các danh mục sách</h3>
        <nav>
            <ul>

                <li><div class="aa"><a href="danhsach.html">Kinh tế</a> <span>(5)</span></div></li>
                <li><div class="aa"><a href="danhsach.html">Văn học</a><span>(5)</span></div></li>
                <li><div class="aa"><a href="danhsach.html">Tâm lý đời sống</a><span>(5)</span></div></li>
                <li><div class="aa"><a href="danhsach.html">Sách ngoại ngữ</a><span>(5)</span></div></li>
                <li><div class="aa"><a href="danhsach.html">Manga - comic</a><span>(5)</span></div></li>
                <li><div class="aa"><a href="danhsach.html">Tiểu thuyết</a><span>(5)</span></div></li>
                <li><div class="aa"><a href="danhsach.html">Kỹ năng sống</a><span>(5)</span></div></li>
                <li><div class="aa"><a href="danhsach.html">Light novel</a><span>(5)</span></div></li>


            </ul>
        </nav>
    </div>
    <div class="price">
        <h4>Giá</h4>
        <input type="checkbox" name="" id=""><a href="">0-100.000đ</a> <br>
        <input type="checkbox" name="" id=""><a href="">100.000đ-150.000đ</a><br>
        <input type="checkbox" name="" id=""><a href="">150.000đ-200.000đ</a><br>
        <input type="checkbox" name="" id=""><a href="">200.000đ-300.000đ</a><br>
        <input type="checkbox" name="" id=""><a href="">300.000đ-500.000đ</a><br>
        <input type="checkbox" name="" id=""><a href="">500.000đ-700.000đ</a><br>
        <input type="checkbox" name="" id=""><a href="">700.000đ trở lên</a><br> <br>


        <h4>Nhà Xuất Bản</h4>
        <input type="checkbox" name="" id=""><a href="">Nhã Nam</a> <br>
        <input type="checkbox" name="" id=""><a href="">Văn học</a><br>
        <input type="checkbox" name="" id=""><a href="">Đinh tị</a><br>
        <input type="checkbox" name="" id=""><a href="">Kim Đồng</a><br>
        <input type="checkbox" name="" id=""><a href="">Thái Hà</a> <br>
        <input type="checkbox" name="" id=""><a href="">Alpha Book</a><br>
        <input type="checkbox" name="" id=""><a href="">Tân Việt</a><br>
        <input type="checkbox" name="" id=""><a href="">Sky novel</a><br>
        <input type="checkbox" name="" id=""><a href="">Giáo Dục</a><br> <br>
    </div>
</div>
